@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Noto+Serif+JP:wght@200..900&family=Patrick+Hand&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
	background-color: rgb(12, 203, 203);
	font-family:  font-family: "Public Sans", sans-serif;;

	min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}

h1{
	font-size: 12vw;
}
h2{
	text-align: center;
	max-width: 25ch;
}